@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Roboto:wght@300;700&display=swap');

:root {
  --max-width: 1100px;

  --gap-lg: 32px;
  --gap-md: 24px;
  --gap-sm: 12px;
  --gap-xs: 6px;

  --brown: #84240E;
  --beige:  #EED6BA;
  --black: #000;
  --white: #fff;

  --color-primary: var(--brown);
  --color-secondary: var(--black);
  --color-accent: var(--beige);
  --color-contrast: var(--white);

  --size-xl: 54px;
  --size-lg: 32px;
  --size-md: 16px;

  --font-principal: 'Roboto', sans-serif;
  --font-title: 'Cardo', serif;

  --radius: 4px;
}

body {
  color: var(--color-secondary);
  background-color: var(--color-contrast);
  font-family: var(--font-principal);
  font-size: var(--font-md);
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}